@{
    ViewData["Title"] = "Upload";
}
<h2>Upload</h2>

<form asp-controller="Upload" asp-action="Upload" asp-antiforgery="false" class="dropzone" id="UploadForm" enctype="multipart/form-data">
    <div class="fallback">
        <input name="file" type="file" multiple />
        <input type="submit" value="Upload" />
    </div>
</form>